NET "ClkIn" BUFG=DATA_GATE;
NET "A11" BUFG=DATA_GATE;
NET "A15" BUFG=DATA_GATE;

NET "DD(0)"	      LOC = "P20";
NET "DD(1)"	      LOC = "P21";
NET "DD(2)"	      LOC = "P9";
NET "DD(3)"	      LOC = "P10";
NET "DD(4)"	      LOC = "P28";
NET "DD(5)"	      LOC = "P49";
NET "DD(6)"	      LOC = "P2";
NET "DD(7)"	      LOC = "P3";

NET "A15"	         LOC = "P38";
NET "A14"	         LOC = "P35";
NET "A13"   	      LOC = "P34";
NET "A12"	         LOC = "P33";
NET "A11"	         LOC = "P32";
NET "A10"   	      LOC = "P31";
NET "A9" 		      LOC = "P14";
NET "A8"		      LOC = "P13";
NET "A7"	   	   LOC = "P27";
NET "A6" 	   	   LOC = "P26";
NET "A5"		      LOC = "P25";
NET "A4"	   	   LOC = "P24";
NET "A3"		      LOC = "P23";
NET "A2"		      LOC = "P22";
NET "A1"		      LOC = "P12";
NET "A0"		      LOC = "P11";

NET "ClkIn"	      LOC = "P7";
NET "Phi2"	      LOC = "P6";
NET "ClkOut"	   LOC = "P5";
NET "nBUFEN"	LOC = "P19";
NET "NRDS"	      LOC = "P46";
NET "NWDS"	   LOC = "P48";
NET "Reset"	      LOC = "P4";
NET "RW"		      LOC = "P45";

NET "CSRAM"	   LOC = "P15";
NET "CSROM"	   LOC = "P16";

NET "RA16"	      LOC = "P44";
NET "RA15"	      LOC = "P43";
NET "RA14"	      LOC = "P41";
NET "RA13"	      LOC = "P40";
NET "RA12"	      LOC = "P39";

NET "leds(0)"     LOC = "P117";
NET "leds(1)"     LOC = "P118";
NET "leds(2)"     LOC = "P119";
NET "leds(3)"     LOC = "P120";
NET "leds(4)"     LOC = "P121";
NET "leds(5)"     LOC = "P124";
NET "leds(6)"     LOC = "P125";
NET "leds(7)"     LOC = "P126";
